---
layout: default
title: Archive
permalink: /archive/
---

{% include wrap.html %}
<div class="container mtb">
    <div class="row">
        <div class="col-lg-12">
{% for post in site.posts %}
  {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
  {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
    {% if month != nmonth %}
      {% if forloop.index != 1 %}</ul>{% endif %}
      <h3 class="sub-header">{{ post.date | date: '%B %Y' }}</h3><ul>
    {% endif %}
  <li><a href="{{ post.url }}">{{ post.title }}</a>  <csmall>- {{post.author}} - {{ post.date | date: "%d %b %Y" }} </csmall></li>
{% endfor %}
        </div>
    </div><! --/row -->
</div><! --/container -->