---
layout: default
---

<div class="home">
  <a class="rss-link" href="http://feeds.feedburner.com/visualstudiogeeks/otas">RSS</a><br/>
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}
          {% if post.author %}
            {% assign author = site.data.authors[post.author] %}
            {% if author %} • <img src="{{ site.url }}{{author.avatar16}}" style="display: inline-block;vertical-align: middle" > {{ author.name }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}
          {% endif %}
        </p>
        <div class="post-excerpt">
          {{ post.excerpt }}
            
        </div>
        <a class="button-gray" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
      </li>
    {% endfor %}
  </ul>
  
  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">PREV</a>
  {% else %}
    <span class="previous">PREV</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">NEXT</a>
  {% else %}
    <span class="next ">NEXT</span>
  {% endif %}
</div>

</div>
