.share-page {
  text-align: center;
  background: #009B57;
  color: #efefef;
  padding: 8px 15px;
  border-radius: 3px;
  margin: 48px 0;
}
.share-page a {
    font-weight: 700;
    color: #fff;
    margin-left: 10px;
}
    
.share-page a:hover {
    text-decoration: none;
    border-bottom: 1px dashed #fff;
    color:#fff;
}