<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<footer class="footer">
	<div class="wrapper">
		&copy;
		<span id="copyright">
			<script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script> Utkarsh Shigihalli &amp; Tarun Arora
		</span>
	</div>
</footer>
<div id="fb-root"></div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans|Kreon|Roboto+Slab|Bitter' rel='stylesheet' type='text/css'>
<script src="{{ " /js/easybook.js " | prepend: site.baseurl }}"></script>