<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} « {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" /> 
    {% else %}
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}Geeky ramblings on DevOps, ALM, TFS, VisualStudio, VSTS, VSCode, Test Automation, .NET, WPF and PowerShell{% endif %}">
    {% endif %} 
    {% if page.keywords %} 
    <meta name="keywords" content="{{ page.keywords }}" /> 
    {% else %}
    <meta name="keywords" content="TFS, ALM, DevOps, VSTS, VisualStudio, ALM, geeks, visual studio, visual studio team services, vsts, application lifecycle management, extensions, extensibility, mvp, rangers"/> 
    {% endif %}
    <link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!--<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml
    " | prepend: site.baseurl | prepend: site.url }}" />-->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="http://feeds.feedburner.com/visualstudiogeeks/otas" />
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{site.owner.twitter}}">
    <meta property="og:url" content="{{site.url}}/{{ page.url | remove_first:'index.html' }}">
    <meta property="og:site_name" content="{{site.title}}">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="en_GB" />
    {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}">
    {% endif %}
    
</head>