<div class="share">
    
    <!-- twitter -->
    <a class="share-twitter" title="Share on Twitter" href="https://twitter.com/intent/tweet?hashtags=vsgeeks&text={{site.title | url_encode }}&url={{site.url}}{{page.url}}" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fa fa-twitter"></i></a>
    <!-- facebook -->
    <a class="share-facebook" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fa fa-facebook"></i></a>
    <!-- google plus -->
    <a class="share-googleplus" title="Share on Google" href="https://plus.google.com/share?url=?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fa fa-google-plus"></i></a>
    <!-- linkedin -->
    <a class="share-linkedin" title="Share on LinkedIn" href="https://www.linkedin.com/shareArticle??mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source={{ site.title | url_encode }}" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fa fa-linkedin"></i></a>
    <!-- email -->
    <a class="share-email" title="Email" href="mailto:?subject={{ page.title }}&amp;body=Check this out: {{ site.url }}{{ site.baseurl }}{{ page.url }}"><i class="fa fa-envelope"></i></a>
</div>