body {
	margin: 0;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
}
a {
	text-decoration: none;
	color: $color-link;
}
a:hover, a:focus {
	text-decoration:underline;
	color: $color-link-hover;
}
blockquote {
	background: #E8E8FF;
	margin:0;
	padding: 5px 20px;
	border-left: 10px solid #222233;
}
code,pre {
	font-family:  $code-font-family;
	font-size: $code-font-size;
}
code {
	color: #333;
	background-color: #E8E8FF;
	padding: 2px 5px;
	border-radius: 5px;
}
pre {
	overflow-x: auto;
	padding: 20px 50px;
}
pre, pre code {
	color: #fafafa;
	background-color: #223;
}
pre code {
	padding: 0;	
}
.hide {
    display: none;
}
.center {
	text-align: center;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
    margin: 10pt auto;
	//background: #FFF;
	td, th {
		border: 1px solid #CCC;
		padding: 5px 15px;
		margin: 0;
	}
	
	th {
		border-color: #555;
		background: #555;
		color: #eee;
		font-weight:normal;
	}	
	// tr:hover {
	// 	background: rgba(255,255,0,0.2);
	// }
}

table.noborder-table{
	border-collapse: collapse;
	border-spacing: 0;
    margin: 10pt auto;
	//background: #FFF;
	td, th {
		border: 0px solid #CCC;
		padding: 5px 15px;
		margin: 0;
	}
	
	th {
		border-color: #555;
		background: #555;
		color: #eee;
		font-weight:normal;
	}	
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

.about{
        background: none;
        table {
	border-collapse: collapse;
	border-spacing: 0;
    margin: 10pt auto;

	td, th {
		border: none;
		padding: 5px 15px;
		margin: 0;
	}
	
	th {
		border: none;
		color: #eee;
		font-weight:normal;
	}
    }
}

.videocontainer iframe {
	
    position: absolute;
    width: 100%;
	margin: 0 -30px;
            @include media-query($on-palm) {
		        margin: 0 -10px;
            }
}


#mainbox{
	box-sizing: border-box;
	justify-content: center;
	background: none;
	display: flex;
	flex-wrap: wrap;
	table.mtable{
		background: none;
		border-collapse: collapse;
		border-spacing: 0;
	}
	.card{
		width: 350px;
		border: 1px solid gray;
		box-shadow: 1px 1px 3px #888;
		border-top: 10px solid green;
		min-height: 100px;
		padding-: 10px;
		margin: 10px;
	}
	
	img.tilt{
		-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
				transition: all 0.5s ease;
		}
	
	img.tilt:hover {
  -webkit-transform: rotate(-15deg);
     -moz-transform: rotate(-15deg);
       -o-transform: rotate(-15deg);
      -ms-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

	img.profile-img{
		border-radius: 5%;
		width: 70px;
		margin: 10px;
	}

	h1{
		font-size: 16px;
		font-weight: bold;
		margin-left: 90px;
		margin-top: -70px;
	}

	p{
		margin: 35px;
		font-family: segoe ui;
		line-height: 1.4em;
		font-size: 1.2em;
	}
}

/*TAGS*/
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
  li {
  		float: left; 
  }
}



.tag {
  background: #E0E0E3;
  border-radius: 3px 0 0 3px;
  color: #222;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  //-webkit-transition: color 0.2s;
  font-size: 11px;
}

.tag::before {
  background: #fafafa;
  border-radius: 10px;
  //box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

//tag dot
.tag::after {
  background: #fafafa;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #E0E0E3;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #223;
  color: white;
  text-decoration: none;
}

.tag:hover::after {
   border-left-color: #223; 
}