---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    {% assign user = site.data.authors | where: "author", page.author %}
    <p class="post-meta"><i class="fa fa-calendar text-darkred"></i> {{ page.date | date: "%b %-d, %Y" }}
      {% if page.author %} | {% for author in user %} <i class="fa fa-user text-success"></i> <a href="#author"><strong>{{ author.name }}</strong></a>{% endfor %} {% endif %}</p>
      <p class="post-meta">{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <p class="post-meta">
      <br/>
      {% for tag in page.tags %}
        <a class="tag" href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
      {% endfor %}
    </p>
    <div class="social-buttons-post">
        <br/>
            <a class="twitter-share-button"
            data-hashtags="vsgeeks"
            href="{{ site.url }}{{ page.url }}">
          Tweet</a>
          <div class="fb-share-button" data-href="{{ site.url }}{{ page.url }}" data-layout="button" data-size="small" data-mobile-iframe="false"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>
          <script type="IN/Share" data-counter="right" data-url="{{ site.url }}{{ page.url }}"></script>
          <g:plus action="share"></g:plus>
          
    </div>
    <div style="clear: both"></div>
  </header>
  
  <article class="post-content">
    {{ content }}
    <a id="author"></a>
    {% include related.html %}
    {% include authorintro.html %}
  </article>
  
  {% include comment.html %}
</div>
